[Desktop Entry]
Encoding=UTF-8
Icon=www
Type=Link
URL=http://sourceware.org/binutils/docs-2.19/as/i386_002dMemory.html#i386_002dMemory
X-SuSE-translate=true
